* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{ 
    margin-top: 60px;
}

.logo-img{
    width: 190px;
    height: 60px;
}

.main{
    min-height: calc(100vh - 192px);
}

.vector{
    display: flex;
    justify-content: space-between;   
}

.vector-left{
  position: relative;
  top: -695px;
  width: 470px;
  height: 417px;
}

.vector-right{
    position: relative;
    top: -695px;
    width: 271px;
    height: 419px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
}

.text-content{
    text-align: center;
}

.bold-text{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    line-height: 75px;
    font-weight: 700;
    opacity: 39%;
    color: #162C4E;
}

.simple-text{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 8px;
}

.count-time{
   display: flex;
   margin-top: 32px;
}

.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 600;
    color: #162C4E; 
}

.days{
    display: inline-block;
    width: 132px;
    height: 54px;
    background-image: url(./assets/Group\ 2096.png);
}

.hours{
    display: inline-block;
    width: 132px;
    height: 54px;
    background-image: url(./assets/Group\ 2094.png);
}

.minutes{
    display: inline-block;
    width: 132px;
    height: 54px;
    background-image: url(./assets/Group\ 2092.png);
}

.seconds{
    display: inline-block;
    width: 132px;
    height: 54px;
    background-image: url(./assets/Group\ 2090.png);
}

.group2136{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}

.link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 60px;
    border-radius: 40px;
    background-color: #1D4169;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    margin-top: 12px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D4169;
    height: 192px;
    margin-top: -192px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 59px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.input{
    outline: none;
    width: 259px;
    height: 27px;
    border: none;
    font-size: 18px;
    line-height: 27px;
    margin-left: 27px;
}

.input::placeholder{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .form-btn{
    width: 43px;
    height: 43px;
    background-color: red;
    border-radius: 50%;
    border: none;
    margin: 8px;
  }

  .arrow{
    width: 20px;
    height: 20px;
  }